*{
    margin: 0;
    font-family: Arial, sans-serif;
    border: border-box;
    
}

body{
    background-color: #E3E6E6;;
    
}

body{
    background-color: #E3E6E6;;
}

.nav_bar{
    height: 53px;
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 47px;
    width: 100px;
    margin-left: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.logo{
    background-image: url(/src/images/16-167642_amazon-logo-amazon-logo-white-text.png);
    margin-top: 10px;
    background-size: cover;
    height: 30px;
    width: 100%;
}

.border {
    border: 0.5px solid transparent;
}

.border:hover {
    border: 0.5px solid white;
}

.nav-address {
    /* margin-top: 20px; */
    height: 47px; 
    width: 140px;
}



.add-first{
    margin-top: 10px;
    color: #cccccc;
    font-size: 0.70rem;
    margin-left: 32px;
}

.add-second{
    font-size: 0.8rem;
    margin-left: 1px;
    font-weight: 600;   
    margin-top: -6px;
    /* margin-bottom: 25px; */
}

.add-icon{
    display: flex;
    align-items: center;
    height: 20px;
}

.add-icon img {
    height: 20px;
    margin-left: 9px;
    margin-bottom: 20px;
}

.nav-search{
    display: flex;
    justify-content: space-evenly;
    height: 36px;
    background-color: #FEBD68;
    width: 700px;
    border-radius: 4px;
}

.search-dropdown{
    background-color: #E6E6E6;
    height: 36px;
    width: 50px;
    border-radius: 4px 0 0 4px;
    border: none;
    color: #5A5A5A;

}



.search-input{
    width: 100%;
    font-size: 0.8rem;
    border: none;

}

.search-icon{
    display: flex;
    width: 45px;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.search-icon img{
    height: 22px;
}

input[type="text"]::placeholder {  

    padding-left: 6px; 
} 

.nav-country {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 47px;
    width: 60px;
}


.nav-country img {
    height: 30px;
    margin-right: 3px;
}

.nav-account {

    height: 47px; 
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.acc-first{
    margin-top: 10px;
    margin-right: 26px;
    color: white;
    font-size: 0.70rem;
    
}

.acc-second{
    font-size: 0.8rem;
    font-weight: 600;   
    margin-top: 1px;
  
}

.nav-order {

    height: 47px; 
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-first{
    margin-right: 15px;
    margin-top: 10px;
    color: white;
    font-size: 0.70rem;
    
}

.order-second{
    font-size: 0.8rem;
    font-weight: 600;   
    margin-top: 1px;
  
}


.nav-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 47px;
    width: 80px;
}

.nav-cart h6{
    margin-top: 17px;
    font-size: 0.8rem;

}


.nav-cart img {
    height: 25px;
    margin-right: 2px;
}

.cat-items{
    height: 35px;
    display: flex;
    background-color: rgb(34,47,62);
    color: white;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.8rem;
}

/* 
.cat-items p{
    border: 0.5px solid transparent;

}

.cat-items p:hover {
    border: 0.5px solid white;
}
 */

.nav-side {
    display: flex;
    flex-direction: row;
}

.nav-side h6{
    margin-left: 5px;
    font-size: 0.9rem;
}


.cat-items div{
    border: 0.5px solid transparent;
    height: 25px;
    display: flex;
    align-items: center;
}

.cat-items div:hover{
    border: 0.5px solid white;
}

.hero-section{
    background-image: url("/src/images/banner1.jpg");
    background-size: cover;
    height: 600px;
    position: relative; 
}

.hero-section:after {
    content:""; 
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,#E3E6E6 100%);
    height: 70%;  
  }

  .box{
    width: 24%;
    background-color: white;
    height: 380px;
  }

 .box h3{
    margin: 13px;
 }

  .mini-box{
    width: 23%;
    background-color: white;
    height: 110px;
  }

  .deals-section {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding-top: 250px;
    z-index: 1;
    
  }


.product-grid1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.product1 {
    text-align: center;
}

.product1 img {
    max-width: 100%;
    height: 138px;
}

.product1 p {
    margin-top: 1px;
    font-size: 0.7rem;
}

.product-grid3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
}


.product3 {
    text-align: center;
}

.product3 img {
    max-width: 82%;
    height: 100px;
}

.product3 p {
    margin: 4px;
    font-size: 0.8rem;
    
}


.more-offers{
    font-size: 0.8rem;
    margin-left: 20px;
    margin-top: 10px;
    text-decoration: none;
    color: #017185;
}

.more-offers-mini{
    font-size: 0.7rem;
    font-weight: lighter;
    margin-left: 1px;
    margin-top: 10px;
    text-decoration: none;
    color: #017185;
}

.product2 img {
    max-width: 86%;
    height: 250px;
    margin-bottom: 20px;
}

.product2 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.offer {
    display: flex;
}
.mini-box img{
    height: 80px;
    width: 80px;
    margin-right: 15px;
    margin-top: 4px;
}


.mini-box h3{
    margin: 10px;
}

.watch {
    height: 400px;
    width: 48%;
    background-image: url("/src/images/movie.png");
    background-size: cover;
    
}


.deal-section2 {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;
    margin-top: 20px;
    
  }

  .box1{
    width: 24%;
    background-color: white;
    height: 400px;
  }

  .box1 h3{
    margin: 13px;

  }



.product-grid4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.product4 {
    text-align: center;
}

.product4 img {
    max-width: 100%;
    height: 138px;
}

.product4 p {
    margin-top: 1px;
    font-size: 0.7rem;
}


.product-grid5 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.product5 img {
    width: 90%;
    height: 260px;
    margin-bottom: 20px;
}

.product5 p {
    margin-top: 1px;
    font-size: 0.7rem;
}


.deal-section3 {
    background-color: white;
    height: 280px;
    width: auto;
    margin: 14px;
  }


.slider {
    display: flex;
}

.slider img{
    margin: 20px;
    height: 200px;
    width: 60%;
}

.deal-section3 h3{
    padding-left: 14px;
    padding-top: 10px;
}

.recent{
    display: flex;
}

.recent .more-offers {
    margin-top: 14px;
}

.footer {
    margin-top: 20px;
}

.footer-1{
    background-color: #364759;
    color: white;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
}




.footer-2{
    background-color: rgb(34,47,62);
    color: #DDDDDD;
    height: 350px;
    display: flex;
    justify-content: space-evenly;

}

ul{
    margin-top: 50px;
}

ul a {
    margin-top: 10px;
    display: block; 
    text-decoration: none;
    font-size: 0.7rem;
}

.footer-3{
    background-color: rgb(34,47,62);
    color: white;
    border-top: 0.3px solid #DDDDDD;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.logo-footer{
    background-image: url(/src/images/16-167642_amazon-logo-amazon-logo-white-text.png);
    background-size: cover;
    height: 30px;
    width: 100px;
    margin-top: 20px;

    
}


.country{
    margin-top: 10px;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.country a{
    font-size: 0.6rem;
    margin: 6px;
}

.footer-4 {
    background-color: rgb(19,26,34);
    height: 80px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0.65rem;
}

.copyright{
    display: flex;
    flex-direction: row;
}

.copyright a{
    
    margin: 10px;
}